<a href="https://colab.research.google.com/github/Thitichaya2000/multivariate/blob/main/Exam01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/Pizza.csv')
data.head(10)

  brand     id   mois   prot    fat   ash  sodium  carb   cal
0     A  14069  27.82  21.43  44.87  5.11    1.77  0.77  4.93
1     A  14053  28.49  21.26  43.89  5.34    1.79  1.02  4.84
2     A  14025  28.35  19.99  45.78  5.08    1.63  0.80  4.95
3     A  14016  30.55  20.15  43.13  4.79    1.61  1.38  4.74
4     A  14005  30.49  21.28  41.65  4.82    1.64  1.76  4.67
5     A  14075  31.14  20.23  42.31  4.92    1.65  1.40  4.67
6     A  14082  31.21  20.97  41.34  4.71    1.58  1.77  4.63
7     A  14097  28.76  21.41  41.60  5.28    1.75  2.95  4.72
8     A  14117  28.22  20.48  45.10  5.02    1.71  1.18  4.93
9     A  14133  27.72  21.19  45.29  5.16    1.66  0.64  4.95

In [4]:
data.shape

(300, 9)